@using FilmViewer.Models
@using FilmViewer.Statics
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}
@section styles{
    @Styles.Render(
                    "~/bundles/styles/panelCreate")
}
<section class="container">
    <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">

        <div class="devider-wrapper">
            <div class="devider"></div>
        </div>
        <h2 class="page-heading">Change Password</h2>
        <div class="panelCreate panelCreate-primary dialog-panel">
            <div class="panelCreate-heading">
                <h2 class="page-heading">Change password panel</h2>
            </div>
            <div class="panelCreate-body">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    if (!Html.ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationSummary("", new { @class = "inv-em alert alert-danger" })
                    }
                    if (TempData[UserMessages.UserMessage] != null)
                    {
                        var message = (MessageViewModel)TempData[UserMessages.UserMessage];

                        <div class="alert @message.CssClass">
                            <span class="icon-flag"></span>
                            @message.Message
                            <a class="close" data-dismiss="alert" href="#" aria-hidden="true"></a>
                        </div>
                    }

                    <div class="form-group" style="margin-bottom:10px!important">
                        <label class="control-label col-md-2 col-md-offset-2">Old Password</label>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom:10px!important">
                        <label class="control-label col-md-2 col-md-offset-2">New Password</label>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom:10px!important">
                        <label class="control-label col-md-2 col-md-offset-2">Confirm Password</label>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-11">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group internal">
                        <div class="col-md-offset-4 col-md-3">
                            <button class="btn btn-lg btn-danger" style="float:right" id="resetButton" type="reset">Reset</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-lg btn-primary" type="submit">Change Password</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_AccountPanelMenu")
</section>