<li>@Html.ActionLink("Add movie", "CreateFilm", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Add category", "CreateCategory", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Add actor", "CreateActor", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Add director", "CreateDirector", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Add metadata", "CreateMetadata", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Show actors", "ViewActors", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Show directors", "ViewDirectors", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Show categories", "CategoryView", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Show metadata", "MetadataView", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Show movies", "MovieView", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Add best movies", "AddBestChoiceMovie", "Moderator", null, new { @class = "category__item" })</li>
<li>@Html.ActionLink("Show best movies", "ViewBestChoiceMovies", "Moderator", null, new { @class = "category__item" })</li>

