@model FilmViewer.Models.Moderator.ViewBestChoiceMoviesViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "ViewBestChoiceMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_SearchFull");

}
@section styles{
    @Styles.Render(
            "~/bundle/styles/pagedList")
}

<section class="container">
    <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
        <div class="movie">

            <div class="devider-wrapper">
                <div class="devider"></div>
            </div>
            <h2 class="page-heading">Hot productions</h2>

            <div>
                <table>
                    <tr>
                        <th>
                            Movie Title
                        </th>
                        <th>
                            Slider type
                        </th>
                        <th>Title</th>
                        <th></th>

                    </tr>
                    <colgroup class="col-width-lg"></colgroup>
                    <colgroup class="col-width"></colgroup>
                    <colgroup class="col-width"></colgroup>
                    <colgroup class="col-width"></colgroup>

                    @{var count = 1;}

                    @foreach (var topMovie in Model.MainMovies)
                    {
                        <tr class="@(count %2 ==0 ? "rates rates--top" : "rates")">
                            <td class="rates__obj">@Html.ActionLink(count + ". " + topMovie.MovieTitle, "Details", "Movie", new { id = topMovie.MovieId }, null)</td>
                            <td class="rates__vote">@topMovie.SliderType</td>
                            <td class="rates__vote">@topMovie.Title</td>

                            <td class="rates__vote">

                                @using ((Html.BeginForm("DeleteBestChoiceMovie", "Moderator", FormMethod.Post)))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("id", topMovie.Id)
                                    <button class="btn btn-md btn--danger" type="submit">Delete</button>
                                }
                            </td>

                        </tr>
                        count++;
                    }
                </table>
                @Html.PagedListPager(Model.MainMovies, page => Url.Action("ViewBestChoiceMovies",
                         new { page }))

            </div>

        </div>


    </div>

    @Html.Partial("_ModeratorMenu")


</section>


