@using FilmViewer.AppHelpers
@using FilmViewer.Statics
@model FilmViewer.Business.Dto.Domain.MainMoviesDto

<li data-transition="fade" data-slotamount="7" class="slide" data-slide="@Model.MovieTitle">
    <img alt="" src="@Url.Content(FileHelpers.GetPhotoPath(FolderPaths.MainMoviesUploadPath, Model.MovieImagePath, "http://placehold.it/380x600&quot"))">
    <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
         data-x="left"
         data-y="160"
         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="1400"
         data-easing="easeOutBack"
         data-endspeed="500"
         data-end="8600"
         data-endeasing="Back.easeIn">
        <span class="highlight">@Model.Title</span>
    </div>

    <div class="caption slide__descript customin customout"
         data-x="left"
         data-y="240"
         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="2000"
         data-endspeed="500"
         data-end="8400"
         data-endeasing="Back.easeIn">
        @Model.Content
    </div>

    <div class="caption lfb customout slider-wrap-btn"
         data-x="left"
         data-y="310"
         data-speed="500"
         data-start="2800"
         data-easing="Power4.easeOut"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-endspeed="400"
         data-end="8000"
         data-endeasing="Power4.easeOut">
        @Html.ActionLink("Check movie!", "Details", "Movie", new { id = Model.MovieId }, new { @class = "btn btn-md btn--danger slider--btn" })

    </div>
</li>
